[Desktop Entry]
Name=Burp Suite
Exec=java -jar /tools/burpsuite_free.jar
Comment=
Icon=/icons/burpsuite_icon.jpg
Terminal=false
NoDisplay=false
Categories=Network;
Type=Application
