[Desktop Entry]
Name=JD-GUI
Exec=java -jar /tools/jd-gui-1.4.0.jar
Comment=
Icon=/icons/jd-gui_icon.png
NoDisplay=false
Categories=AndroidPackageTools;
Type=Application
