[Desktop Entry]
Name=ADB server
Exec=/tools/droidscripts/restart_adb.sh
Comment=
Icon=
Terminal=true
NoDisplay=false
Categories=AndroidDeviceTools;
Type=Application