[Desktop Entry]
Name=HAndHold
Exec=/tools/HAndHold/HAndHold.sh "/root/Desktop/APKS"
Comment=
Icon=
Terminal=true
NoDisplay=false
Categories=AndroidDeviceTools;
Type=Application
