[Desktop Entry]
Name=.smali to .dex
Exec=/tools/droidscripts/package.sh smali
Comment=
Icon=
Terminal=true
NoDisplay=false
Categories=AndroidPackageTools;
Type=Application