[Desktop Entry]
Name=Pull .apk
Exec=/tools/droidscripts/do_drozer.sh
Comment=
Icon=
Terminal=true
NoDisplay=false
Categories=AndroidDeviceTools;
Type=Application
