[Desktop Entry]
Name=GooglePlayDownloader
Exec=python /tools/googleplaydownloader/googleplaydownloader/googleplaydownloader.py
Comment=
Icon=
NoDisplay=false
Categories=AndroidTools;
Type=Application