[Desktop Entry]
Name=Raccoon
Exec=java -jar /tools/raccoon-4.2.6.jar
Icon=/icons/racoon_icon.png
NoDisplay=false
Categories=AndroidPackageTools;
Type=Application
