[Desktop Entry]
Name=JD-GUI
Exec=java -jar /tools/jd-gui/dist/jd-gui-1.0.0-RC3.jar
Comment=
Icon=
NoDisplay=false
Categories=CustomMenuCategory;
Type=Application