.image { 
   position: relative; 
   width: 100%; 
}

h1 { 
   position: absolute; 
   top: 260px; 
   left: 500; 
   width: 100%; 
}

h1 span { 
   color: white; 
   font: bold 48px/90px Georgia; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 9px; 
}

h1 span a {
    color: white; 
}

